.promo {
  padding-top: 74px;
  background-color: #073042;
  min-height: 664px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promo__logo {
  width: 320px;
  height: 320px;
  display: block;
  background: url("../../images/landing-logo.svg") 50% no-repeat;
  background-size: cover;
  position: absolute;
  margin-bottom: 40px;
}

.promo__heading {
  max-width: 730px;
  font-size: 50px;
  font-weight: normal;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0 auto;
  margin-bottom: 40px;
  color: #fff;
  text-align: center;
}
