.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  box-sizing: border-box;
}

.logo__img {
  width: 38px;
  height: 38px;
}

.logo__part {
  transition: all 0.3s;
}

.logo:hover .logo__part {
  fill: #3456f3;
}