.more {
  padding: 50px 70px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more__button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 320px;
  height: 36px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.more__button:hover {
  background-color: #e8e8e8;
}

@media (max-width: 650px) {
  .more {
    padding: 50px 40px 80px;
  }
}
