.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 70px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__img {
  width: 38px;
  height: 38px;
}

.nav__links {
  width: 212px;
  margin-left: 64px;
  display: flex;
  align-items: center;
}

.nav__link {
  height: 18px;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}

.nav__link_to_movies {
  margin-right: 16px;
}

.nav__link_to_saved-movies {
}

.nav__link_to_my-account {
  width: 100px;
  height: 32px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
