.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 70px;
}

.nav__links {
  margin: 0 0 0 64px;
  display: flex;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link {
  height: 18px;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: #000;
}

.nav__link_to_movies {
  margin-right: 16px;
}

.nav__link_to_my-account {
  width: 100px;
  height: 32px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  transition: all 0.3s;
  font-size: 14px;
  line-height: 16px;
}

.nav__link_to_my-account:hover {
  background-color: #3456f3;
  color: #fff;
}

.nav__link_to_signup {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  margin-right: 30px;
}

.nav__link_to_signin {
  display: block;
  background-color: #2be080;
  border-radius: 3px;
  width: 76px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.nav__link_to_signin:hover {
  background-color: #3456f3;
  color: #fff;
}

.nav__link_to_signup {
  transition: all 0.3s;
}

.nav__link_to_signup:hover {
  opacity: 0.5;
}

@media (max-width: 800px) {
  .nav {
    padding: 18px 30px;
  }
}
