.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 18px 70px;
  position: relative;
  background-color: #073042;
}

.header_logged-in {
  background-color: #fff;
}

@media (max-width: 800px) {
  .header {
    padding: 18px 30px;
  }
}

@media (max-width: 650px) {
  .header {
    padding: 18px 14px;
  }
}
