.filter-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-checkbox__switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.filter-checkbox__input {
  display: none;
}

.filter-checkbox__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: all 0.4s;
  border-radius: 34px;
  display: flex;
  align-items: center;
}

.filter-checkbox__slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
  left: 2px;
}

.filter-checkbox__input:checked + .filter-checkbox__slider {
  background-color: #2be080;
}

.filter-checkbox__input:checked + .filter-checkbox__slider:before {
  transform: translate(16px);
}

.filter-checkbox__label {
  margin-left: 12px;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}
