.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px;
}

.login__content {
  width: 400px;
}

.login__heading {
  margin: 40px 0;
}

.login__form-field {
  display: flex;
  flex-direction: column;
}

.login__form-label {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  margin-bottom: 5px;
}

.login__form-input {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  margin: 0;
  padding: 0 0 10px 0;
  outline: 0;
  border-bottom: 1px solid #e8e8e8;
  color: #000;
}

.login__form-input:focus {
  border-bottom: 1px solid #3456f3;
}

.login__form-input_error {
  color: #ff3055;
  border-bottom: 1px solid #ff3055;
}

.login__form-error {
  min-height: 12px;
  margin: 6px 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ff3055;
}

.login__submit-button {
  width: 100%;
  margin: 70px 0 16px;
  background-color: #3456f3;
  border: 1px solid #3456f3;
  border-radius: 3px;
  padding: 14px;
  border: 0;
  outline: 0;
  color: #fff;
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
}

.login__submit-button:hover {
  background-color: #2be080;
}

.login__submit-button:disabled {
  background-color: #fff;
  border: 1px solid grey;
  color: #000;
  cursor: auto;
}

.login__register {
  text-align: center;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #a0a0a0;
}

.login__register-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #3456f3;
  text-decoration: none;
  margin-left: 6px;
  transition: all 0.3s;
}

.login__register-link:hover {
  color: #2be080;
}

@media (max-width: 650px) {
  .login {
    padding: 56px 30px 30px;
  }

  .login .logo {
    margin: 0 auto;
  }

  .login__heading {
    text-align: center;
    margin: 50px 0 80px;
    font-size: 24px;
    line-height: 29px;
  }

  .login__content {
    width: 100%;
  }

  .login__submit-button {
    margin-top: 270px;
  }

  .login__register {
    font-size: 12px;
    line-height: 15px;
  }

  .login__register-link {
    font-size: 12px;
    line-height: 15px;
  }
}