.about-me {
  padding: 110px 70px 100px;
}

.about-me__heading {
  margin: 0 0 23px;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.about-me__line {
  border: 0;
  border-bottom: 1px solid #000;
  margin: 0;
}

.about-me__content {
  display: flex;
  justify-content: space-between;
  margin: 66px 0 0;
}

.about-me__name {
  margin: 0 0 18px;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.about-me__short {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
}

.about-me__story {
  max-width: 600px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin: 26px 0 0;
}

.about-me__photo {
  width: 270px;
  height: 327px;
}

.about-me__links {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 99px 0 0;
}

.about-me__item:not(:last-of-type) {
  margin-right: 20px;
}

.about-me__link {
  text-decoration: none;
  color: #000;
  transition: all 0.2s;
}

.about-me__link:hover {
  opacity: 0.5;
}

@media (max-width: 800px) {
  .about-me {
    padding: 90px 50px;
  }
}