.about-me {
  padding: 110px 70px 100px;
}

.about-me__heading {
  margin: 0 0 23px;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.about-me__line {
  border: 0;
  border-bottom: 1px solid #000;
  margin: 0;
}

.about-me__content {
  display: flex;
  justify-content: space-between;
  margin: 66px 0 0;
}

.about-me__name {
  margin: 0 0 18px;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.about-me__short {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
}

.about-me__story {
  max-width: 650px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin: 26px 0 0;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
}

.about-me__links {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 99px 0 0;
}

.about-me__item:not(:last-of-type) {
  margin-right: 20px;
}

.about-me__link {
  text-decoration: none;
  color: #000;
  transition: all 0.2s;
}

.about-me__link:hover {
  opacity: 0.5;
}

@media (max-width: 800px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__name {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__short {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__story {
    max-width: 364px;
    margin-top: 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }

  .about-me__links {
    margin-top: 87px;
  }
}

@media (max-width: 650px) {
  .about-me {
    padding: 70px 14px;
  }

  .about-me__heading {
    margin-bottom: 28px;
  }

  .about-me__content {
    margin-top: 60px;
    display: flex;
    flex-direction: column-reverse;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;
    margin: 0 auto 40px;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .about-me__short {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__story {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__links {
    margin-top: 40px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
  }
}
